
/* Mobile Version of screen smaller than considered ( < 375px) */
@media (max-width: 375px) {
  body {
    display: flex;
  }
}

/* Mobile version for phone with considered screen size minimum 375px
@media (min-width: 375px) {
  } */

/* ========================================================================================================================= */

/* ===============================    Desktop Version Portfolio ============================================================ */

/* Desktop scream size minimum is 768 px */
@media (min-width: 768px) {
  #galleryContainer .gallery_ctn {
    background: rgba(100, 100, 100, 0.3);
    background: #172b4d;
    width: 90%;
    padding: 5px 10px;

    /* width: 60%; */
    height: 90%;
    grid-template-rows: 8% 90%;
    box-shadow: 1px 1px 25px 1px #fcfcfc;
  }

  #galleryContainer .g_pop_head {
    margin-top: 1%;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #36b37e;

    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .menu {
      background: red;
      width: 28px;
      height: 28px;
      border: 2px solid #fff;
      border-radius: 50%;
      opacity: 0.8;
      z-index: 1;
      transition: 1ms ease-in-out;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .menu:hover {
      opacity: 1;
    }
  }

  #galleryContainer .pop_title {
    color: #36b37e;
    color: #172b4d;
    color: #fcfcfc;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
  }

  .close_pop {
    width: 100%;
    height: 100%;
  }

  /* .container .pop_head .menu {
    background: red;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 1;
    transition: 1ms ease-in-out;

    img {
      width: 100%;
      height: 100%;
    }
  } */

  #galleryContainer .image_view {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #galleryContainer .image_view .img_nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 4rem;
    width: fit-content;
    top: 50%;
    z-index: 2;
    transition: 1s ease-in-out;
    opacity: 0.6;
  }

  #galleryContainer .image_view .img_nav:hover {
    color: #36b37e;
    cursor: pointer;
    opacity: 0.9;
  }

  #galleryContainer .image_view .prev {
    left: 3%;
  }

  #galleryContainer .image_view .next {
    right: 3%;
  }

  #galleryContainer .image_view .view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  #galleryContainer .image_view .view .img_view {
    width: 30%;
    width: 100%;
    border: 35px solid #172b4d;
    border: 50px solid #36b37e;
    border: 60px solid transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    overflow: hidden;
    animation: 1s popIn;
  }

  @keyframes popIn {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }

  #galleryContainer .image_view .view .img_view:hover {
    opacity: 1;
  }

  @keyframes randomize {
    50% {
      transform: scale(1.2);
    }

    80% {
      /* transform: translateX(30px); */
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes randomize2 {
    50% {
      transform: z;
    }

    100% {
      transform: scale(1);
    }
  }

  #galleryContainer .image_view .view .img_view .img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 20s 0s randomize infinite;
  }

  #galleryContainer .image_view .track {
    width: 95%;
    height: 40px;
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  #galleryContainer .image_view .track .dot {
    width: 12px;
    height: 12px;
    opacity: 0.6;
    border-radius: 50%;
    background: transparent;
    border: 0.15rem solid #fff;
    border: 0.15rem solid #36b37e;
    transition: 1s ease-in-out;
  }

  #galleryContainer .image_view .track .current_dot {
    background: #fff;
    background: #36b37e;
    box-shadow: 0 0 3px 3px #fcfcfc;
  }
}

@media (min-width: 900px) {
  #galleryContainer .gallery_ctn {
    width: 60%;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    transform: translateX(200px);
  }
}
