
/* General settings for web browsers */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Mobile version of style */
@media (min-width: 375px) {
  .toolbar {
    position: fixed;
    left: 1vw;
    top: 1vw;
    z-index: 10;
    width: 98vw;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
  }

  .toolbar .logo {
    height: 48px;
    width: 24px;
    margin-left: 25px;

    /* content */
    display: flex;
    align-items: center;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 3px;
    color: #36b37e;
  }

  .toolbar .menu {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 25px;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu img {
    width: 18px;
    height: 12px;
  }

  /* Headline section */
  .headline {
    width: 100vw;
    height: 88vh;
    position: relative;
    top: 60px;
    background-image: url(../images/header-illsutration-mobile@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline h1 {
    height: fit-content;
    width: 85%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-top: 80px;
    margin-bottom: 12px;
  }

  .headline h1 p {
    color: #36b37e;
  }

  .headline .description {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    width: 85%;
    text-align: center;
    color: #172b4d;
    margin-bottom: 23px;
  }

  .headline .social {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
  }

  .social img {
    width: 20px;
    height: 20px;
  }

  .headline .btn_down {
    width: 60px;
    height: 60px;
  }

  .btn_down img {
    width: 100%;
    height: 100%;
  }

  .r_works {
    width: 100vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .r_works .title {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    justify-content: center;
    color: #172b4d;
    width: 70%;
    height: 100px;
    text-align: center;
    margin-bottom: 25px;
  }

  .title .s {
    width: 18%;
    height: 8px;
    margin-left: 41%;
    background: #36b37e;
    border-radius: 8px;
    margin-top: 24px;
  }

  .r_works .works {
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
  }

  .grid-container {
    display: grid;
  }

  .grid_1-item {
    width: 92%;
    height: 470px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    margin-left: 4%;
  }

  .grid_1-item .txt {
    background: white;
    border-radius: 5px;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 16px 0;
    height: 40%;
    bottom: 0;
  }

  .txt .project_title {
    width: 100%;

    /* Theme 2 / H4 */
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    /* or 133% */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Theme 2 / Neutral 2 */
    color: #3a4a42;
    margin-bottom: 10px;
  }

  .txt .tag_ctn {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2%;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .tag_ctn .tag {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: fit-content;
    height: 32px;

    /* Theme 2 / Neutral 10 */
    background: #ebf0ee;
    border-radius: 2px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tag .tag_txt {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;

    /* Theme 2 / Neutral 2 */
    color: #3a4a42;
  }

  .txt .action_2 {
    /* Action */
    width: 90%;
    top: 2px;
    left: 5%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .see {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 122px;
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
  }

  .see_txt {
    /* Action */

    /* See project */

    width: 98px;
    height: 24px;

    /* Theme 2 / Button Normal */
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;

    /* identical to box height, or 141% */
    letter-spacing: 0.03em;

    /* Theme 2 / Neutral 11 */
    color: white;
  }

  .grid_1-item .img_place_holder {
    background: gray;
    width: 100%;
  }
}

/* Desktop scream size minimum is 768 px */
@media (min-width: 768px) {
  body {
    display: none;
  }

  .toolbar {
    /* position */
    position: fixed;
    left: 2vw;

    /* size */
    width: 96vw;
    height: 10vh;

    /* content */
    background: red;
    color: blueviolet;
  }
}
