
/* General settings for web browsers */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  scroll-behavior: smooth;
}

.section_container {
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  /* background: red; */
  width: 98%;
  max-width: 1880px;
  margin: auto auto;
  overflow: hidden;
}

/* Mobile Version of screen smaller than considered ( < 375px) */
@media (max-width: 350px) {
  body {
    display: flex;
    overflow: hidden;

    /* #mainPage {
      background: hsla(27, 93%, 94%, 0.5);
      background: red;
    } */

    #bottom_menu {
      display: none;
    }
  }
}

/* Mobile version for phone with considered screen size minimum 375px */
@media (min-width: 350px) {
  .toolbar .navigation,
  .img_bg2,
  .img_bg3,
  .d_links,
  .d_pop_tag_ctn,
  #bottom_menu,
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .toolbar {
    position: fixed;
    left: 1vw;
    left: 0;
    top: 0;
    z-index: 10;
    width: 98vw;
    width: 100vw;
    height: 52px;

    /* height: 72px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 8px #d0d9d4;
    transition: all 1s ease-out;
    padding: 5px 20px 5px 0;
  }

  .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    z-index: 11;

    /* height: 90%; */
    padding: 10px;
    height: auto;
    width: 100%;
    background: white;
    border-radius: 0 0 30px 30px;
    align-items: center;
    transition: all 1s ease-out;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);

    .navigation {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @keyframes turn_go {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes turn_back {
    0% {
      transform: translateX(-100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  .d_none {
    left: 101vw;
    display: flex;
  }

  .d_flex {
    left: 0;
    display: flex;
    animation: turn_go 2s;
  }

  .m_head {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 30px;
  }

  #close_menu_icon {
    width: 100%;
    height: 100%;
  }

  #close_pop {
    width: 100%;
    height: 100%;
  }

  .toolbar .menu {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .pop_head .menu {
    background: red;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.8;
    z-index: 1;
    transition: 1ms ease-in-out;
  }

  .container .pop_head .menu:hover {
    opacity: 1;
  }

  .mobile_menu .nav_ctn {
    list-style: none;
  }

  .mobile_menu li {
    margin: 50px 50px;
    padding: 10px 10px;
  }

  .mobile_menu .nav_item {
    text-decoration: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 44px;
    position: absolute;
    height: 24px;
    left: 10vw;
    color: #3a4a42;
    color: #36b37e;
  }

  .toolbar .logo {
    height: 48px;
    width: 20%;
    min-width: 150px;
    margin-left: 25px;
    align-items: center;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 3px;
    color: #36b37e;
    text-decoration: none;
    justify-content: center;
    transition: all 1s ease-out;
    animation: rotate 3s;
  }

  .toolbar .logo:hover {
    color: #172b4d;
    cursor: pointer;
  }

  @keyframes rotate {
    0% {
      /* transform: rotate(0deg); */
      transform: scale(0.9);
    }

    100% {
      /* transform: rotate(360deg); */
      transform: scale(1);
    }
  }

  .menu img {
    width: 18px;
    height: 12px;
  }

  /* Headline section */
  .headline {
    width: 100vw;
    min-height: 78vh;
    background-image: url(../images/header-illsutration-mobile@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline h1 {
    height: fit-content;
    width: 75%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-top: 80px;
    margin-bottom: 12px;
  }

  .headline h1 p {
    color: #36b37e;
    height: 170px;
  }

  .headline .description {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    width: 80%;
    text-align: center;
    color: #172b4d;
    margin-bottom: 13px;
  }

  .headline .social {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  .social ul {
    width: 90%;
    width: calc(44% + 50px);
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
  }

  .social ul li {
    list-style: none;
    display: inline;
  }

  .social img {
    width: 18px;
    height: 18px;
  }

  .headline .btn_down {
    width: 60px;
    height: 60px;
  }

  .btn_down img {
    width: 100%;
    height: 100%;
  }

  .social img:hover {
    transform: rotate(90 deg);
    transition: all 1s ease-out;
  }

  /* ========================================================================= */

  /* Section 2: Recent Works  */

  /* contain */
  .r_works {
    width: 100vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .r_works .title {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    justify-content: center;
    color: #172b4d;
    width: 70%;
    text-align: center;
  }

  .title .s {
    width: 18%;
    height: 8px;
    margin-left: 41%;
    background: #36b37e;
    border-radius: 8px;
    margin-top: 24px;
    animation: 2s move alternate infinite;
  }

  @keyframes move {
    0% {
      margin-left: 20%;
    }

    10% {
      margin-left: 20%;
      width: 18%;
    }

    50% {
      width: 10%;
    }

    90% {
      margin-left: 62%;
      width: 18%;
    }

    100% {
      margin-left: 62%;
    }
  }

  .r_works .works {
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .grid_1-item {
    width: 380px;
    height: 500px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    transition: 0.1s ease-in-out;
  }

  .grid_1-item .illustration_image {
    position: relative;
    transform: scale(0.96);
    height: 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s ease-in;
    border-radius: 8px;
    overflow: hidden;
  }

  .grid_1-item .illustration_image:hover {
    transform: scale(1);
  }

  .grid_1-item .txt {
    background: white;
    border-radius: 5px;
    gap: 5px;
    display: grid;
    grid-template-rows: 30% 40% 30%;
    align-items: center;
    position: relative;
    padding: 16px 0;
    height: 49%;
    bottom: 0;
  }

  .txt .project_title {
    width: 100%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a4a42;
    margin-bottom: 10px;
    transition: 0.5s ease-out;
  }

  .tag_ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    gap: 2%;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .tag_ctn .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    margin: 3px 0;
    width: fit-content;
    height: 20px;
    background: #ebf0ee;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tag .tag_txt {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  .txt .action_2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .see {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 130px;
    height: 40px;
    background: #36b37f;
    border: 1px solid #36b37f;
    color: white;
    border-radius: 4px;
    transition: all 0.6s ease-in-out;
  }

  .see:hover {
    /* color: #36b37f; */

    /* background: white; */
    background: #172b4d;
    border-color: #172b4d;
    cursor: pointer;
  }

  .see_txt {
    height: 24px;
    width: 75%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_1-item .img_place_holder {
    background: gray;
    width: 100%;
  }

  /* =============================== Pop_up section ================================== */

  /* pop up windows */
  .pop_up {
    display: flex;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(193, 199, 208, 0.5);
    background: rgba(0, 10, 20, 0.5);
    transition: all 0.5s ease-out;
    justify-content: center;
    align-items: center;
  }

  .blured_main {
    filter: blur(3px);
    overflow-y: hidden;
  }

  .no_scroll {
    overflow-y: hidden;
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0.1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes scaleOut {
    0% {
      transform: scale(1);
      transform: rotate(0deg);
      width: 100vw;
      height: 100vh;
    }

    100% {
      transform: scale(0.1);
      transform: rotate(-360deg);
      width: 5vw;
      height: 5vh;
    }
  }

  .pop_up .container {
    position: absolute;
    position: relative;
    width: 90%;

    /* height: 96%; */
    min-height: 500px;

    /* padding: 20px 0; */

    /* left: calc(50% - 90% / 2); */
    top: 2%;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 14px;
    animation: scaleIn 0.5s;
    display: grid;
    grid-template-rows: 40% 22% 28% 10%;
    row-gap: 2px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px 30px 10px;
  }

  .pop_down {
    display: flex;
    position: fixed;
    z-index: 8;
    top: 47vw;
    left: 47vh;
    height: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-out;
    justify-content: center;
    align-items: center;
    animation: scaleOut 0.5s;
  }

  .container .pop_head {
    display: flex;
    width: 100%;
    height: 6%;
    margin-top: 5%;
    align-content: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 5px 25px;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    transition: 1ms ease-in-out;
  }

  .container .pop_head:hover {
    opacity: 1;
  }

  .container .grid-item {
    width: 100%;
    height: 100%;
    padding: 0 5px;
  }

  .container .illustration {
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #dfe1e6;
    border-radius: 15px;
  }

  .container .grid-item img {
    width: 25%;
    height: 100%;
  }

  .container .pop_title {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 6px;
    padding: 5px 0;
  }

  .pop_title .title {
    height: 50%;
    width: 100%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #172b4d;
  }

  .pop_title .tag_ctn {
    justify-content: center;
    height: 50%;
    gap: 4px;
    row-gap: 0;
    display: flex;
  }

  .container .pop_details {
    padding-top: 16px;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .pop_details .details {
    width: 311px;
    width: 90%;
    height: fit-content;
    padding: 10px 5px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* font-size: 16px; */
    color: #344563;
    position: relative;
    font-size: 0.8em;
    max-height: 100%;
    overflow-y: auto;
    text-indent: 15px;
    text-justify: center;

    h2 {
      margin-bottom: 10px;
    }
  }

  .pop_links {
    display: flex;
    margin: 10px auto;
    padding: 5px 20px;
    justify-content: center;
    gap: 15px;

    .links {
      width: 40%;
    }
  }

  .pop_links .see {
    width: 100%;
  }

  .pop_links .see img {
    height: 1em;
  }

  .title .pop_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 2px;
    color: #36b37e;
    margin-left: 10px;
    transition: all 1s ease-out;
  }

  /* ============================================================================================================== */

  /* Last part About Me section */
  .about_me {
    height: 300px;
    width: 96vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_me .head {
    width: 98%;
    height: 380px;
    position: relative;
    top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head .decor1 {
    width: 70px;
    height: 130px;
    position: absolute;
    float: right;
    right: 0;
    top: -65px;
    background-image: url(../images/Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .head .decor2 {
    width: 70px;
    height: 130px;
    position: absolute;
    float: right;
    left: 0;
    top: 290px;
    background-image: url(../images/Frame_2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about_me h1 {
    height: fit-content;
    width: 85%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 12px;
  }

  .about_me .head .description {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    width: 85%;
    text-align: center;
    color: #172b4d;
    margin-bottom: 20px;
  }

  .action_3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #36b37f;
    border: 1px solid #36b37f;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .btn:hover {
    color: #36b37f;
    background: white;
    cursor: pointer;
  }

  .btn_txt {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 12px;
  }

  .about_me .about {
    margin-top: 100px;
    width: 80%;
  }

  .grid2-container {
    display: grid;
    justify-content: center;
  }

  .about .grid_2-item {
    width: 320px;

    /* margin-left: 2%; */
    height: 360px;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .about .grid_2-item .icon {
    width: 100%;
    height: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_2-item .icon .img {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .icon .img img {
    width: 70%;
    height: 70%;
    transition: 1s ease-in-out;
  }

  .grid_2-item:hover > .icon .img img {
    animation: rotate 1s;
  }

  .grid_2-item:hover > .txt .project_title {
    transform: scale(1.2);
  }

  .grid_2-item .txt {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .about .txt .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8px;
    padding: 12px;
    width: fit-content;
    background: white;
    border-radius: 8px;
    list-style: none;
    transition: 0.4s ease-in-out;
  }

  .about .txt .tag:hover {
    background-color: #36b37e;
    cursor: pointer;
  }

  .about .tag_ctn {
    margin-top: 8%;
  }

  .about .tag .tag_txt {
    width: fit-content;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
    transition: 0.4s ease-in-out;
  }

  .about .txt .tag:hover > .tag_txt {
    color: white;
  }

  .skills_list {
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  /* ============================================================================================================================= */

  /* Form section styling */
  .form_s {
    height: 800px;
    width: 94vw;
    margin-left: 3vw;
    position: relative;
    top: 1280px;
    top: calc(180vw + 590px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_s h1 {
    width: 90%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 58px;
  }

  .form_s .form {
    width: 90%;
  }

  .form_s .form li {
    list-style: none;
    margin-bottom: 10px;
    height: 50px;
  }

  .form_s .form li input {
    list-style: none;
    margin-bottom: 24px;
    height: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    color: #6b778c;
  }

  .form_s .form li textarea {
    border: 1px solid #60c095;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 12px;
    box-sizing: border-box;
    color: #42526e;
  }

  .form_s .form .submit {
    position: relative;
    margin-top: 90px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .submit .btn {
    width: 40%;
  }

  .form_s .form .error_msg {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    padding: 8px;
    width: 100%;
    height: 100%;
    border-left: 5px solid #36b37e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #172b4d;
  }

  /* ===================================================================================================== */

  /* Footer styling */
  .img_bg1 {
    background-image: url(../images/illustration-contact-form.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 130px;
    top: 1190px;
    top: calc(150vw + 590px);
    float: right;
    z-index: 2;
  }

  footer {
    width: 100vw;
    height: 130px;
    position: relative;
    top: 1200px;
    top: calc(160vw + 640px);
    float: left;
    display: flex;
    flex-direction: column;
  }

  footer span {
    width: 100%;
    height: 38px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-bottom: 29px;
  }

  footer .f_social {
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }

  footer .item {
    list-style: none;
    display: inline;
    width: 20px;
    height: 20px;
  }

  .item .icon_img {
    width: 100%;
    height: 100%;
  }

  footer hr {
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    height: 6px;
    border-radius: 8px;
    background: black;
  }

  .decor {
    transition: 1s ease-out;
  }

  .decor:hover {
    transform: scale(1.1);
  }

  .sideSocialMenu {
    width: 100%;
    height: 40px;
    z-index: 15;
    position: fixed;
    left: 0;
    bottom: 15px;

    .social {
      gap: 6px;

      .social_link {
        /* border: 1px solid green; */
        height: 45px;
        width: 45px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border: 2px solid #172b4d;
        transition: 0.1s ease-in-out;

        .icon_link {
          width: 70%;
          height: 70%;

          /* border: 1px solid red; */

          /* border-radius: 50%; */

          /* border-radius: 50%; */
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .social_link:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}

/* ========================================================================================================================= */

/* ===============================    Desktop Version Portfolio ============================================================ */

/* Desktop scream size minimum is 768 px */
@media (min-width: 768px) {
  .toolbar {
    left: 0;
    top: 0;
    width: 100vw;
    height: 6vw;
    max-height: 70px;
    display: flex;
  }

  .d_none,
  .d_flex,
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .toolbar .menu {
    display: none;
  }

  .toolbar .logo {
    width: 20%;
  }

  .toolbar .navigation {
    width: 80vw;
    margin-left: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation .nav_ctn {
    display: flex;
    justify-content: space-between;
    height: 40%;
    margin-top: 10px;
    width: calc(15% + 240px);
  }

  .nav_ctn li {
    list-style: none;
    display: inline;
  }

  .nav_ctn li .nav_item {
    text-decoration: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #344563;
    cursor: pointer;
  }

  #gallery {
    /* background: red; */
    width: 60px;
    height: 100px;
    border: 1px solid #344563;
    background: #344563;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
  }

  /* ======================================== */

  /* Headline Section */
  .headline {
    background-image: url(../images/Header-llustration-desktop.png);
    background-size: cover;
    min-height: 140vh;
    margin-bottom: 100px;
    display: flex;
    padding-top: 16%;
    align-items: center;
  }

  .headline h1 {
    margin: 0;
    font-size: 40px;
  }

  .headline h1 p {
    /* color: #36b37e; */
    height: auto;
    margin-bottom: 20px;
  }

  .headline .description {
    width: 50%;
    font-size: 26px;
  }

  .headline .social {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  .social ul {
    width: calc(44% + 50px);
    display: flex;
    justify-content: space-between;
  }

  /* ============================================ */

  /* Recents works section */

  .title .s {
    display: none;
  }

  .r_works .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
    padding: 10px 50px;
  }

  .grid_1-item {
    width: 350px;
    height: 600px;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 10px 1px;
  }

  .grid_1-item .txt {
    background: white;
    border-radius: 5px;
    gap: 5px;
    display: grid;
    grid-template-rows: 30% 40% 30%;
    align-items: center;
    position: relative;
    padding: 16px 0;
    height: 49%;
    bottom: 0;
  }

  .txt .project_title {
    width: 100%;
  }

  .txt .tag_ctn {
    height: fit-content;
  }

  .tag_ctn .tag {
    /* margin-bottom: 8px; */
  }

  /* ============================================= */

  /* pop_up section */
  .pop_up {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .pop_up .container {
    top: 0;
    left: 0;
    position: relative;
    width: 41%;
    height: 90vh;
    margin-top: 5vh;
    z-index: 11;

    /* grid-template-rows: 5% 55% 8% 5% 20%; */
    grid-template-rows: 40% 20% 12% 28%;
    gap: 2px;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    padding: 16px;
    overflow-y: scroll;
  }

  .container .pop_head {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-end;
    height: 6%;
    background-image: none;
    border-radius: 8px;
    padding: 5px 25px;

    /* position: fixed;
    width: 100px;
    height: 80px;
    top: 0;
    right: 32%; */
  }

  .pop_head .menu {
    display: flex;
    align-content: center;
    padding: 1px;
    position: relative;
    width: 2.1vw;
    height: 2.1vw;
    min-width: 30px;
    min-height: 30px;
    background: #ebecf0;
    background: #111;
    border: 1px solid #ebecf0;
    mix-blend-mode: multiply;
    border-radius: 8px;
  }

  #close_pop {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container .illustration {
    width: 100%;
    height: 100%;

    /* background-image: url(./../images/Snapshoot\ Portfolio\ Desktop.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #dfe1e6;
    border-radius: 15px;
  }

  .pop_title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .pop_title .title {
    width: 100%;

    /* height: 100%; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    color: #172b4d;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
  }

  .pop_title .d_links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px 20px;
    gap: 20px;

    .links {
      width: 30%;
      max-width: 200px;
    }
  }

  .pop_title .d_links .see {
    width: auto;
    width: 100%;
    height: 30px;
    margin-left: 10px;
    padding: 5px 20px;
  }

  .pop_title .d_links .see .see_txt {
    width: fit-content;
    font-size: 12px;
  }

  .pop_title .d_links .see img {
    width: 10px;
  }

  .d_pop_tag_ctn {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 5px;
  }

  .d_pop_tag_ctn .tag_ctn {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .d_pop_tag_ctn .tag_ctn .tag {
    align-items: center;
    padding: 8px 12px;
    height: 24px;
    background: #ebecf0;
    border-radius: 5px;
    transition: 1ms ease-in-out;
  }

  .d_pop_tag_ctn .tag_ctn .tag:hover {
    cursor: not-allowed;
  }

  .pop_links {
    display: none;
  }

  .pop_title .tag_ctn {
    display: none;
  }

  .pop_details .details {
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    line-height: 24px;
  }

  /* ======================================== */

  /* Headline About me */
  .about_me {
    height: 680px;
    width: 100vw;
    margin-left: 0;
  }

  .about_me .head {
    width: calc(55% + 250px);
    height: 300px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head .decor1 {
    width: 200px;
    height: 260px;
    position: absolute;
    float: right;
    right: -16%;
    top: -65px;
    background-image: url(../images/illustration-about\ me-1-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .head .decor2 {
    width: 200px;
    height: 260px;
    position: absolute;
    float: left;
    left: -180px;
    left: -20%;
    top: 100px;
    background-image: url(../images/illustration-about-me-2-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .btn {
    width: calc(10% + 100px);
  }

  .about_me h1 {
    height: fit-content;
    width: 85%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 12px;
  }

  .about_me .about {
    margin-top: 0;
    position: relative;
    width: calc(55% + 250px);
    width: 700px;
    height: 316px;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .about .grid_2-item {
    width: 100%;
    margin-left: 0;
    height: 100%;
    padding: 5px;
  }

  /* ============================================================================================================================= */

  /* Form section styling */
  .form_s {
    height: calc(16vw + 200px);
    width: calc(55vw + 250px);
    margin-left: calc((100vw - (55vw + 250px)) / 2);
    top: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 10px 2px;
    align-items: center;
  }

  .form_s .ctn_title {
    width: 49%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .form_s h1 {
    width: 80%;
    height: 200px;
    font-size: calc(1vw + 10px);
    line-height: 52px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    transition: 1s ease-in-out;
  }

  .form_s h1:hover {
    margin-left: 60px;
  }

  .form_s .form {
    width: 55%;
  }

  .form_s .form .submit {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
  }

  .form_s .form .error_msg {
    width: 65%;
    margin-left: 5%;
  }

  /* ===================================================================================================== */

  /* Footer styling */
  .img_bg1,
  .img_bg2,
  .img_bg3 {
    background-image: url(../images/contact\ form-illustratoin-3-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: absolute;
    width: calc(6vw + 100px);
    height: calc(14vw + 250px);
    right: 0;
    top: 3000px;
    float: bottom;
    z-index: 2;
  }

  .img_bg2 {
    left: 0;
    background-image: url(../images/illustration-1-contact-form-desktop.png);
    width: calc(4vw + 100px);
    height: calc(12vw + 150px);
    top: calc(2650px + 125px);
    top: calc(3000px + 125px);
    background-size: cover;
  }

  .img_bg3 {
    left: 30vw;
    background-image: url(../images/illustration-2-contact-form-desktop.png);
    width: calc(4vw + 80px);
    height: calc(1vw + 90px);
    top: calc(2650px + 360px);
    top: calc(3000px + 360px);
  }

  footer {
    width: 100vw;
    height: 71px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #dfe1e6;
    margin-top: 100px;
  }

  footer span {
    display: none;
  }

  footer .f_social {
    width: 140px;
    margin-left: calc((100% - 140px) / 2);
  }

  footer .item {
    list-style: none;
    display: inline;
    width: 15px;
    height: 15px;
  }

  .item .icon_img {
    width: 100%;
    height: 100%;
  }

  footer hr {
    display: none;
  }

  #bottom_menu {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 1%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    z-index: 5;

    .btMenuCtn {
      gap: 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    .project {
      width: auto;
      gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .project_name {
        color: gray;
        color: #110338;
        z-index: 1;
        display: none;
        animation: slideRight 1s ease-in-out;
      }

      /* .project:hover > .project {
        background: red;
      } */
    }

    .project_circle {
      width: 40px;
      height: 40px;
      border: 1px solid rgba(100, 200, 250, 0.8);
      background: rgba(193, 199, 208, 0.4);
      background-size: contain;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      z-index: 5;
    }

    .project_circle:hover {
      cursor: pointer;
      transform: scale(1.1);
      animation: topAndGrow 1s  0 1 direction fill-mode;
    }

    #p0 {
      background-image: url('./../images/Snapshoot\ Portfolio.svg');
    }

    #p1 {
      background-image: url('./../images/Icons/ttt.png');
    }

    @keyframes topAndGrow {
      50% {
        animation: translate(100px);
      }
    }
  }

  .sideSocialMenu {
    width: 50px;
    height: 100%;
    border-radius: 0;
    position: fixed;
    justify-content: flex-start;
    padding-top: 50px;
    transition: 1s ease-in-out;
    left: calc(100% - 50px);
    bottom: 0;

    .social {
      gap: 6px;
      flex-direction: column;

      .social_link {
        /* background: green; */
        height: 50px;
        width: 50px;
        transition: 0.6s ease-in-out;
        border-radius: 50%;
        opacity: 0.8;

        .icon_link {
          width: 65%;
          height: 65%;
        }
      }

      .social_link:hover {
        cursor: pointer;
        transform: scale(1.3);
        opacity: 1;
      }
    }
  }

  .sideSocialMenu:hover {
    left: calc(100% - 60px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-35%);
  }

  100% {
    transform: translateX(0);
  }
}
