
/* General settings for web browsers */
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Mobile Version of screen smaller than considered ( < 375px) */
@media (max-width: 375px) {
  body {
    display: flex;
  }
}

/* Mobile version for phone with considered screen size minimum 375px */
@media (min-width: 375px) {
  .toolbar .navigation,
  .img_bg2,
  .img_bg3,
  .d_links,
  .d_pop_tag_ctn {
    display: none;
  }

  .toolbar {
    position: fixed;
    left: 1vw;
    top: 0;
    z-index: 10;
    width: 98vw;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 8px #d0d9d4;
    transition: all 1s ease-out;
  }

  .mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    z-index: 11;
    height: 98vh;
    width: 100vw;
    background: white;
    border-radius: 0 0 30px 30px;
    align-items: center;
    transition: all 1s ease-out;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  @keyframes turn_go {
    0% {
      transform: translateX(100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes turn_back {
    0% {
      transform: translateX(-100vw);
    }

    100% {
      transform: translateX(0);
    }
  }

  .d_none {
    left: 101vw;
    display: flex;
  }

  .d_flex {
    left: 0;
    display: flex;
    animation: turn_go 2s;
  }

  .m_head {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 30px;
  }

  #close_menu_icon {
    width: 100%;
    height: 100%;
  }

  #close_pop {
    width: 52px;
    height: 55px;
  }

  .mobile_menu .nav_ctn {
    list-style: none;
  }

  .mobile_menu li {
    margin: 50px 50px;
    padding: 10px 10px;
  }

  .mobile_menu .nav_item {
    text-decoration: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    position: absolute;
    height: 24px;
    left: 10vw;
    color: #3a4a42;
  }

  .toolbar .logo {
    height: 48px;
    width: 10%;
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 3px;
    color: #36b37e;
    text-decoration: none;
    justify-content: center;
    transform: rotate(90 deg);
    transition: all 1s ease-out;
    animation: rotate 3s;
  }

  .toolbar .logo:hover {
    color: #172b4d;
    cursor: pointer;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .toolbar .menu {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu img {
    width: 18px;
    height: 12px;
  }

  /* Headline section */
  .headline {
    width: 100vw;
    min-height: 78vh;
    background-image: url(../images/header-illsutration-mobile@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline h1 {
    height: fit-content;
    width: 75%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-top: 80px;
    margin-bottom: 12px;
  }

  .headline h1 p {
    color: #36b37e;
  }

  .headline .description {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    width: 80%;
    text-align: center;
    color: #172b4d;
    margin-bottom: 13px;
  }

  .headline .social {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  .social ul {
    width: 90%;
    width: calc(44% + 50px);
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
  }

  .social ul li {
    list-style: none;
    display: inline;
  }

  .social img {
    width: 18px;
    height: 18px;
  }

  .headline .btn_down {
    width: 60px;
    height: 60px;
  }

  .btn_down img {
    width: 100%;
    height: 100%;
  }

  .social img:hover {
    transform: rotate(90 deg);
    transition: all 1s ease-out;
  }

  /* ========================================================================= */

  /* Section 2: Recent Works  */

  /* contain */
  .r_works {
    width: 100vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .r_works .title {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    justify-content: center;
    color: #172b4d;
    width: 70%;
    text-align: center;
  }

  .title .s {
    width: 18%;
    height: 8px;
    margin-left: 41%;
    background: #36b37e;
    border-radius: 8px;
    margin-top: 24px;
  }

  .r_works .works {
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
  }

  .grid-container {
    display: grid;
  }

  .grid_1-item {
    width: 92%;
    height: 470px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    margin-left: 4%;
  }

  .grid_1-item .txt {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 16px 0;
    height: 40%;
    bottom: 0;
  }

  .txt .project_title {
    width: 100%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a4a42;
    margin-bottom: 10px;
    transition: 0.5s ease-out;
  }

  .tag_ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2%;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .tag_ctn .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    width: fit-content;
    height: 20px;
    background: #ebf0ee;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tag .tag_txt {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  .txt .action_2 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .see {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    width: 130px;
    height: 40px;
    background: #36b37f;
    border: 1px solid #36b37f;
    color: white;
    border-radius: 4px;
    transition: all 0.6s ease-in-out;
  }

  .see:hover {
    color: #36b37f;
    background: white;
    cursor: pointer;
  }

  .see_txt {
    height: 24px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .grid_1-item .img_place_holder {
    background: gray;
    width: 100%;
  }

  /* =============================== Pop_up section ================================== */

  /* pop up windows */
  .pop_up {
    display: flex;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    background: #c1c7d0;
    transition: all 1s ease-out;
    justify-content: center;
    align-items: center;
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0.1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes scaleOut {
    0% {
      transform: scale(1);
      transform: rotate(0deg);
      width: 100vw;
      height: 100vh;
    }

    100% {
      transform: scale(0.1);
      transform: rotate(-360deg);
      width: 5vw;
      height: 5vh;
    }
  }

  .pop_up .container {
    position: absolute;
    width: 90%;
    height: 836px;
    left: calc(50% - 90% / 2);
    top: 20px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    animation: scaleIn 1s;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  .pop_down {
    display: flex;
    position: fixed;
    z-index: 8;
    top: 47vw;
    left: 47vh;
    height: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 1s ease-out;
    justify-content: center;
    align-items: center;
    animation: scaleOut 1s;
  }

  .container .pop_head {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-end;
    height: 220px;
    background-image: url(./../images/Snapshoot\ Portfolio.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
  }

  .container .grid-item {
    width: auto;
  }

  .pop_title .title {
    height: 135px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .pop_title .tag_ctn {
    justify-content: flex-start;
    height: 20px;
  }

  .pop_details .details {
    width: 311px;
    height: 313px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
  }

  .pop_links {
    display: flex;
    padding: 5px 8px;
    justify-content: space-between;
  }

  .pop_links .see {
    width: fit-content;
  }

  .title .pop_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 2px;
    color: #36b37e;
    margin-left: 10px;
    transition: all 1s ease-out;
  }

  /* ============================================================================================================== */

  /* Last part About Me section */
  .about_me {
    height: 300px;
    width: 96vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_me .head {
    width: 98%;
    height: 380px;
    position: relative;
    top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head .decor1 {
    width: 70px;
    height: 130px;
    position: absolute;
    float: right;
    right: 0;
    top: -65px;
    background-image: url(../images/Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .head .decor2 {
    width: 70px;
    height: 130px;
    position: absolute;
    float: right;
    left: 0;
    top: 290px;
    background-image: url(../images/Frame_2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about_me h1 {
    height: fit-content;
    width: 85%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 12px;
  }

  .about_me .head .description {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    width: 85%;
    text-align: center;
    color: #172b4d;
    margin-bottom: 20px;
  }

  .action_3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #36b37f;
    border: 1px solid #36b37f;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .btn:hover {
    color: #36b37f;
    background: white;
    cursor: pointer;
  }

  .btn_txt {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 12px;
  }

  .about_me .about {
    margin-top: 100px;
  }

  .grid2-container {
    display: grid;
  }

  .about .grid_2-item {
    width: 96%;
    margin-left: 2%;
    height: 85vw;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .about .grid_2-item .icon {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_2-item .icon .img {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .icon .img img {
    width: 70%;
    height: 70%;
    transition: 1s ease-in-out;
  }

  .grid_2-item:hover > .icon .img img {
    animation: rotate 1s;
  }

  .grid_2-item:hover > .txt .project_title {
    transform: scale(1.2);
  }

  .grid_2-item .txt {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .about .txt .tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8px;
    padding: 12px;
    width: fit-content;
    background: white;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    list-style: none;
    transition: 0.4s ease-in-out;
  }

  .about .txt .tag:hover {
    background-color: #36b37e;
    cursor: pointer;
  }

  .about .tag_ctn {
    margin-top: 8%;
  }

  .about .tag .tag_txt {
    width: fit-content;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
    transition: 0.4s ease-in-out;
  }

  .about .txt .tag:hover > .tag_txt {
    color: white;
  }

  .skills_list {
    list-style: none;
  }

  /* ============================================================================================================================= */

  /* Form section styling */
  .form_s {
    height: 800px;
    width: 94vw;
    margin-left: 3vw;
    position: relative;
    top: 1280px;
    top: calc(180vw + 590px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_s h1 {
    width: 90%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 58px;
  }

  .form_s .form {
    width: 90%;
  }

  .form_s .form li {
    list-style: none;
    margin-bottom: 10px;
    height: 50px;
  }

  .form_s .form li input {
    list-style: none;
    margin-bottom: 24px;
    height: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    color: #6b778c;
  }

  .form_s .form li textarea {
    border: 1px solid #60c095;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 12px;
    box-sizing: border-box;
    color: #42526e;
  }

  .form_s .form .submit {
    position: relative;
    margin-top: 90px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .submit .btn {
    width: 40%;
  }

  .form_s .form .error_msg {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    padding: 8px;
    width: 100%;
    height: 100%;
    border-left: 5px solid #36b37e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #172b4d;
  }

  /* ===================================================================================================== */

  /* Footer styling */
  .img_bg1 {
    background-image: url(../images/illustration-contact-form.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 130px;
    top: 1190px;
    top: calc(150vw + 590px);
    float: right;
    z-index: 2;
  }

  footer {
    width: 100vw;
    height: 130px;
    position: relative;
    top: 1200px;
    top: calc(160vw + 640px);
    float: left;
    display: flex;
    flex-direction: column;
  }

  footer span {
    width: 100%;
    height: 38px;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-bottom: 29px;
  }

  footer .f_social {
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }

  footer .item {
    list-style: none;
    display: inline;
    width: 20px;
    height: 20px;
  }

  .item .icon_img {
    width: 100%;
    height: 100%;
  }

  footer hr {
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    height: 6px;
    border-radius: 8px;
    background: black;
  }

  .decor {
    transition: 1s ease-out;
  }

  .decor:hover {
    transform: scale(1.1);
  }
}

/* ========================================================================================================================= */

/* ===============================    Desktop Version Portfolio ============================================================ */

/* Desktop scream size minimum is 768 px */
@media (min-width: 768px) {
  .toolbar {
    left: 0;
    top: 0;
    width: 100vw;
    height: 6vw;
    max-height: 70px;
    display: flex;
  }

  .d_none,
  .d_flex {
    display: none;
  }

  .toolbar .menu {
    display: none;
  }

  .toolbar .logo {
    width: 20%;
  }

  .toolbar .navigation {
    width: 80vw;
    margin-left: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation .nav_ctn {
    display: flex;
    justify-content: space-between;
    height: 40%;
    margin-top: 10px;
    width: calc(5% + 240px);
  }

  .nav_ctn li {
    list-style: none;
    display: inline;
  }

  .nav_ctn li .nav_item {
    text-decoration: none;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #344563;
  }

  /* ======================================== */

  /* Headline Section */
  .headline {
    background-image: url(../images/Header-llustration-desktop.png);
    background-size: cover;
    min-height: 140vh;
    margin-bottom: 100px;
    display: flex;
    padding-top: 16%;
    align-items: center;
  }

  .headline h1 {
    margin: 0;
  }

  .headline .description {
    width: 50%;
    font-size: 26px;
  }

  .headline .social {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  .social ul {
    width: calc(44% + 50px);
    display: flex;
    justify-content: space-between;
  }

  /* ============================================ */

  /* Recents works section */

  .title .s {
    display: none;
  }

  .r_works .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(55% + 250px);
    grid-gap: 8px;
    justify-items: center;
    margin-bottom: 100px;
  }

  .grid_1-item {
    width: 100%;
    height: 450px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .grid_1-item .txt {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 16px 0;
    height: 45%;
    bottom: 0;
  }

  .txt .project_title {
    width: 100%;
  }

  .txt .tag_ctn {
    height: fit-content;
  }

  .tag_ctn .tag {
    margin-bottom: 8px;
  }

  /* ============================================= */

  /* pop_up section */
  .pop_up {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(193, 199, 208, 0.8);
  }

  .pop_up .container {
    background: #fff;
    top: 0;
    left: 0;
    position: relative;
    width: 40%;
    height: 96%;
    grid-template-rows: 4% 60% 9% 9% 20%;
    gap: 8px;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    padding: 16px;
  }

  .container .pop_head {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-end;
    height: 100%;
    background-image: none;
    border-radius: 8px;
  }

  .pop_head .menu {
    display: flex;
    align-content: center;
    padding: 1px;
    position: relative;
    width: 2.5vw;
    height: 100%;
    background: #ebecf0;
    mix-blend-mode: multiply;
    border-radius: 8px;
  }

  #close_pop {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container .illustration {
    width: 100%;
    height: 100%;
    background-image: url(./../images/Snapshoot\ Portfolio\ Desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
  }

  .pop_title {
    display: flex;
  }

  .pop_title .title {
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .pop_title .d_links {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .pop_title .d_links .see {
    width: auto;
    height: 30px;
    margin-left: 10px;
  }

  .pop_title .d_links .see .see_txt {
    width: fit-content;
    font-size: 12px;
  }

  .pop_title .d_links .see img {
    width: 10px;
  }

  .d_pop_tag_ctn {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .d_pop_tag_ctn .tag_ctn {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .d_pop_tag_ctn .tag_ctn .tag {
    margin-bottom: 4px;
    align-items: center;
    padding: 8px 12px;
    height: 24px;
    background: #ebecf0;
    border-radius: 5px;
  }

  .pop_links {
    display: none;
  }

  .pop_title .tag_ctn {
    display: none;
  }

  .pop_details .details {
    width: 100%;
    height: auto;
  }

  /* ======================================== */

  /* Headline About me */
  .about_me {
    height: 630px;
    width: 100vw;
    margin-left: 0;
  }

  .about_me .head {
    width: calc(55% + 250px);
    height: 300px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head .decor1 {
    width: 200px;
    height: 260px;
    position: absolute;
    float: right;
    right: -16%;
    top: -65px;
    background-image: url(../images/illustration-about\ me-1-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .head .decor2 {
    width: 200px;
    height: 260px;
    position: absolute;
    float: left;
    left: -180px;
    left: -20%;
    top: 100px;
    background-image: url(../images/illustration-about-me-2-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .btn {
    width: calc(10% + 100px);
  }

  .about_me h1 {
    height: fit-content;
    width: 85%;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 12px;
  }

  .about_me .about {
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
    width: calc(55% + 250px);
    height: 316px;
    margin-left: calc((100% - (55% + 250px)) / 2);
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .about .grid_2-item {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }

  /* ============================================================================================================================= */

  /* Form section styling */
  .form_s {
    height: calc(16vw + 200px);
    width: calc(55vw + 250px);
    margin-left: calc((100vw - (55vw + 250px)) / 2);
    top: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 10px 2px;
    align-items: center;
  }

  .form_s .ctn_title {
    width: 49%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .form_s h1 {
    width: 80%;
    height: 200px;
    font-size: calc(1vw + 10px);
    line-height: 52px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    transition: 1s ease-in-out;
  }

  .form_s h1:hover {
    margin-left: 60px;
  }

  .form_s .form {
    width: 55%;
  }

  .form_s .form .submit {
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
  }

  .form_s .form .error_msg {
    width: 65%;
    margin-left: 5%;
  }

  /* ===================================================================================================== */

  /* Footer styling */
  .img_bg1,
  .img_bg2,
  .img_bg3 {
    background-image: url(../images/contact\ form-illustratoin-3-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: absolute;
    width: calc(6vw + 100px);
    height: calc(14vw + 250px);
    right: 0;
    top: 2800px;
    float: bottom;
    z-index: 2;
  }

  .img_bg2 {
    left: 0;
    background-image: url(../images/illustration-1-contact-form-desktop.png);
    width: calc(4vw + 100px);
    height: calc(12vw + 150px);
    top: 2925px;
    background-size: cover;
  }

  .img_bg3 {
    left: 30vw;
    background-image: url(../images/illustration-2-contact-form-desktop.png);
    width: calc(4vw + 80px);
    height: calc(1vw + 90px);
    top: 3060px;
  }

  footer {
    width: 100vw;
    height: 71px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #dfe1e6;
    margin-top: 100px;
  }

  footer span {
    display: none;
  }

  footer .f_social {
    width: 140px;
    margin-left: calc((100% - 140px) / 2);
  }

  footer .item {
    list-style: none;
    display: inline;
    width: 15px;
    height: 15px;
  }

  .item .icon_img {
    width: 100%;
    height: 100%;
  }

  footer hr {
    display: none;
  }
}
